/**debug**/
.cg-bgcolorheader{
    background-color: #2c3e50;
}

.cg-colormaintop{
    background-color: #1abc9c;
}

.cg-debugaltezza1, .cg-debugaltezza2,.cg-debugaltezza3,.cg-debugaltezza4,
.cg-debugaltezza5,.cg-debugaltezza6,.cg-altezzacontatti{
    height: 100px;
}

.cg-debugaltezza1{
    background-color:#ba4b63;
}

.cg-debugaltezza2{
    background-color:#1ea4b6;
}

.cg-debugaltezza3{
    background-color: #140f0f;
}

.cg-debugaltezza4{
    background-color: #1c83c1;
}

.cg-debugaltezza5{
    background-color: #0e38b5;
}

.cg-debugaltezza6{
    background-color: #ccb2a3;
}

.cg-bgmain{
    background-color: #1abc9c;
}

.cg-colorfooter{
    background-color: #3a546d;
}

.cg-piedipagina{
    background-color: #2c3e50;
}

/**debug**/